@font-face {
  font-family: tes;
  src: url(../font.woff2);
}

body,
  h1,
  h2 {
    font-family: "Raleway", sans-serif
  }

  body,
  html {
    height: 100%
  }

  p {
    line-height: 2
  }

  .page{
    min-height: 700px;
  }

  #home h1{
    font-family: tes,sans-serif;
    font-weight: bolder;
    font-size: 100px;
  }
  
  #home2 h4{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  
  #home2 h1{
    font-family: cursive;
    font-weight: bolder;
    font-size: 50px;
  }

  .bgimg,
  .bgimg2,
  .bgimgtime,
  .bgimgtime2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

  .bgimg {
    background-image: url("../img/fogertyas2.JPG")
  }
  
  .bgimg2 {
    background-image: url("../img/fogertyas4.JPG");
  }
  
  .bgimgtime {
    background-image: url("../img/bgtimer1.png");
  }
  
  .bgimgtime2 {
    background-image: url("../img/bgtimer2.png");
  }
  
  .male{
    text-align:end;
  }

  .female{
    text-align:left;
  }

  .male img,
  .female img{
      width:25px;
  }
  
  .male h5,
  .female h5{
      margin-bottom: 0px;
  }

  .love{
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;
    z-index:3
  }

  .love img{
    width:70px;
  }

  .rundown{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.3);
    border-radius:10px;
  }

  .rundown h4{
    font-weight:500;
  }

  .rundown p{
    text-align:justify;
  }
  
  
  @media screen and (max-width:425px){
    .bgimg,
    .bgimg2{
      min-height: 50%;
    }
    
    #home h1{
      font-size: 50px;
    }
    
    #home h4{
      font-size: 20px;
    }

    #home2 h4{
      font-size: 20px;
    }
    
    #home2 h1{
      font-size: 30px;
    }
    
    .male, 
    .female{
      text-align:center;
    }
      
    .love{
      top: 770px;
    }

    .love img{
      width:90px;
    }

    .countdown{
      display: block !important;
    }

    .rundown{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
  }
  
  @media screen and (max-width:375px){
    .bgimg,
    .bgimg2{
      min-height: 50%;
    }

    #home h1{
      font-size: 40px;
    }
    
    #home h4{
      font-size: 15px;
    }
    
    .male, 
    .female{
      text-align:center;
    }
      
    .love{
      top: 755px;
    }

    .love img{
      width:80px;
    }

    .countdown{
      display: block !important;
    }

    .rundown{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
  }
  
  
  @media screen and (max-width:320px){
    .bgimg,
    .bgimg2{
      min-height: 50%;
    }

    #home h1{
      font-size: 30px;
    }
    
    #home h4{
      font-size: 10px;
    }

    #home2 h1{
      font-size: 20px;
    }
    
    #home2 h3{
      font-size: 15px;
    }

    #home2 h4{
      font-size: 15px;
    }
    
    .male, 
    .female{
      text-align:center;
    }
      
    .love{
      top: 720px;
    }

    .countdown{
      display: block !important;
    }

    .rundown{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
  }